name: Deploy Laravel

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        run: |
          rsync -av --delete ./ /var/www/html/app_laravel \
            --exclude=.git \
            --exclude=storage \
            --exclude=.env
          cd /var/www/html/app_laravel
          composer install --no-dev --optimize-autoloader
          php artisan route:cache
          php artisan config:cache
